

<div class= "container">
  <h1> Fake Reddit </h1>

<%= link_to new_link_path do %>
  <i class="fa fa-plus"></i>Add New Link
<% end %>
<div class="content"
  <% @links.each do |link| %>
<div class="media">
  <div class = "media-left">
  <%= link_to upvote_link_path(link.id), method: :post, class:"btn counter-button" do%>
  <i class= "fa fa-thumbs-o-up"></i>
    <% end %>
  <%= link.vote_count %>
  <%= link_to downvote_link_path(link.id), method: :post, class:"btn counter-button" do%>
  <i class= "fa fa-thumbs-o-down"></i>
  <% end %>
</div>
  <div class="media-left media-middle">
    <%= image_tag(link.picture, class:"media-object") %>
  </div>
  <div class="media-body">
    <%= link_to "http://#{link.url}" do %>
    <h4 class="media-heading"><%=link.title%></h4>
    <% end %>
    <small>Published <%= distance_of_time_in_words_to_now link.created_at %> ago. </small>
  </div>

  </div>
  <% end %>
</div>
</div>
