<div class= "container">
<%= simple_form_for @link do |l| %>
  <%= l.input :url, error: 'Url is mandatory, please specify one' %>
  <%= l.input :title,  error: "Title is mandatory" %>
  <%= l.input :picture %>
  <%= l.submit 'Save', class:'btn btn-primary btn-lg' %>
<% end %>
</div>
